@* edit Template File *@
@(Form: Form[Post])
@import helper._
@import views.html.partials._postsFormFields
@layout("edit "){
	
	<h1>edit </h1>
@helper.form(action=routes.PostsController.update(),'id->"UpdateForm"){
@_postsFormFields(Form)

}
<button class="btn btn-primary " onclick="sendPutRequest('UpdateForm','@routes.PostsController.edit(Form.get().id)')">Edit Post</button>	
}