@* index Template File *@
@import java.text.SimpleDateFormat;
@(posts: List[Post])
@layout("All Posts"){<h1>All Posts</h1>
@for(post <-posts){
<a class="btn btn-link" href="@routes.PostsController.show(post.id)">@post.title</a>
<p>@post.body</p>
<p>created : @{post.created_at.toGMTString()}</p>
<p>by : @post.id_startup</p>

}


}

